.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  /* background-color: rgb(0, 0, 0); */
  background-color: hsl(0, 0%, 0%);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
  /* so that it stays on top of all other elements */
  transition: 0.01s;
  /* mix-blend-mode: difference; */
}

/* make the cursor change white when in black section
add the zoom and opposite colour highlighting effect in such cases */

.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 100000000000000;  
}

/* try to make the cursor change into an arrow when hovering over the link//*/
.enquire-link:hover{
  cursor: url('arrow-removebg-preview.png') 2 2, pointer;
} 
