section#section2 .slider-s {
    position: relative;
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    z-index: 1000;
}

section#section2 .slider-s .lists {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

section#section2 .slider-s .lists .item-s {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}

section#section2 .slider-s .lists .item-s img {
    width: 100%;
}
@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}

section#section2 .slider-s:hover .item-s {
    animation-play-state: paused!important;
    filter: grayscale(1);
}

section#section2 .slider-s .item-s:hover {
    filter: grayscale(0);
}

section#section2 .slider-s[reverse="true"] .item-s {
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
    from {
        left: calc(var(--width) * -1);
    }
    to {
        left: 100%;
    }
}
/*  */