@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');
section#section1 .banner{
    width: 100%;
    height: 95vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
section#section1 .banner .slider{
    position: absolute;
    width: 200px;
    height: 280px;
    top: 13%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: sliderautoRun 20s linear infinite;
    z-index: 2;
}
@keyframes sliderautoRun{
    from{
        transform: perspective(1000px) rotateX(-25deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-25deg) rotateY(360deg);
    }
}
section#section1 .banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc(((var(--position) - 1)*360deg)/ var(--quantity)))
        translateZ(490px);
}
section#section1 .banner .slider .item img{
    width: 78%;
    height: 78%;
    object-fit: cover;
}
section#section1 .banner.content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
section#section1 .banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #000000;
    position: absolute;
    bottom: -19;
    right: 0;
    left: 0;
    /* justify-content: center; */
}
section#section1 .banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #ffff;
    color: transparent;
    z-index: 10;
}
.fixed-section .banner .content .model {
    background-image: url("photographer-removebg-preview.png");
    width: 100%;
    height: 80vh;
    position: absolute;
    position: fixed;
    bottom: 0vh;
    left: 0;
    background-size: auto 110%;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
    /* transition: opacity 0.3s ease; */
}
/* .hidden {
    opacity: 0;
    visibility: hidden;
} */
